****************************************************************

This is a sample file for the conference...

The default gateway for this host is : {{ default_gateway }}  :

Our internal domain name (taken from all.yml) is {{ internal_domain_name }}

****************************************************************

