****************************************************************

This is a sample file for the conference...

The default gateway for this host is : {{ default_gateway }}  :

****************************************************************

